*.log
data/generated_2.1.0
data/json_2.1.0
data/json_feat_2.1.0
data/*.tar.gz
data/*.zip
df_env/
*.pickle
!data/augmented_data*.pickle
.vscode/
__pycache__/
*.pt
*.pyc
logs/*/
logs/questioner_rl/
data/lmdb*
aws/
.python-version
tips/*
submission/*
wandb/
submission.zip
testset/dialfred_testset_final/*
submission_history/
tmp/
qualitative/
logs/id120.pth
submission17.zip
logs/id116.pth
