ai2thor==2.1.0
clip==1.0
colored_traceback==0.3.0
compound_word_splitter==0.4
etaprogress==1.1.1
filelock==3.6.0
gtimer==1.0.0b5
lmdb==1.3.0
matplotlib==3.5.1
networkx==2.6.3
numpy==1.21.5
opencv_python==4.5.5.64
pandas==1.3.5
pickle5==0.0.12
Pillow==9.1.0
Pillow==9.5.0
progressbar33==2.4
revtok==0.0.3
sacred==0.8.2
stanza==1.3.0
tensorboardX==1.8
tensorboardX==2.6
termcolor==1.1.0
torch==1.8.0+cu111
torchvision==0.9.0+cu111
tqdm==4.64.0
transformers==4.27.4
vocab==0.0.5
